.jumbotron {
    text-align: center;
    width: auto;
    height: 350px;
    max-height: 350px;
    margin-bottom: 0;
}

.row {
    padding: 0 20px;
}

.container {
   Max-width: 1000px;
   text-align: center;
}

.carousel {
  display:inline-block;
}

.img-responsive {
  width: 1000px;
  height: 350px;
  max-height: 350px;
}
